@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --primary-grey: #8d8d8d;
  --accent-grey: #bababa;
  --secondary-blue: #4c96d7;
  --accent-blue: #a6cbeb;
  --dark-grey: #3a3a3a;
  --light: #FFF;
  --dark: #111;
}

html {
  font-family: Roboto;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url('/phpmotors/assets/images/site/checkerboard.jpg');
  opacity: 0.75;
}

body {
  max-width: 90rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

select {
  display: block;
  margin-bottom: 0.5rem;
}

textarea {
  display: block;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 0.5rem;
}

button, input[type="submit"], .button {
  background-color: var(--secondary-blue);
  border: 0.125rem solid var(--dark);
  color: var(--dark);
  padding: 0.5rem 1rem;
  width: auto;
}

button:hover, input[type="submit"]:hover, .button:hover {
  cursor: pointer;
}

form .button {
  clear: both;
  display: block;
  width: auto;
  margin-bottom: 0.5rem;
}

input[type="file"] {
  display: none;
}

header, main {
  background-color: var(--light);
}

header, footer, main {
  display: flex;
  padding: 1rem;
}

header {
  justify-content: space-between;
  align-items: center;
}

a {
  text-decoration: none;
}

header > a {
  color: var(--dark-grey);
}

nav {
  background-color: var(--dark-grey);
}

nav > ul {
  list-style: none;
  padding: -0;
  transform-origin: top;
  margin: 0;
}

nav a {
  padding: 0.1rem 0.5rem 0 0.5rem;
  font-size: 1.1rem;
  color: var(--light);
  display: block;
}

nav li {
  padding: 0.65rem 0 0 0;
  border-bottom: 1px solid var(--accent-grey);
}

nav button {
  display: block;
  width: 95%;
  background-color: var(--secondary-blue);
  border: none;
  font-size: 1.4rem;
  margin: 0.5rem auto;
  border-radius: 0.125rem;
  cursor: pointer;
}

nav button:hover {
  cursor: pointer;
}

nav button:active {
  background-color: var(--accent-blue);
}

nav a.active {
  /* background: linear-gradient(to bottom, var(--accent-blue), var(--secondary-blue)); */
  background-color: var(--secondary-blue);
  color: var(--dark);
}

footer {
  background-color: var(--dark);
  color: var(--light);
  border-top: 0.125rem solid var(--secondary-blue);
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
  text-align: center;
}

main {
  display: block;
  flex: 1;
}

nav > ul.hidden {
  display: none;
}

nav > ul.visible {
  animation: growDown 400ms;
}

fieldset > input {
  display: block;
  margin-bottom: 0.5rem;
  width: 100%;
  border: 1px solid var(--dark);
}

label.required::before {
  content: '*';
  font-size: 0.75rem;
}

form::before {
  content: '* - required field';
  font-size: 0.75rem;
}

p[class^="message"] {
  border: 1px solid black;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.message-error {
  color: red;
  background-color: #FCC;
  border-color: red;
}

.message-success {
  color: green;
  background-color: #CFC;
  border-color: green;
}

.message-info {
  color: blue;
  background-color: #CCF;
  border-color: blue;
}

.horsep {
  margin: 0 0.5rem;
}

table {
  width: 100%;
  border: 1px black;
}

thead {
  background-color: var(--secondary-blue);
}

td, th {
  padding: 0.25rem 0.5rem;
}

tr:nth-child(even) {
  background-color: var(--accent-grey);
}

.image-preview {
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}

@keyframes growDown {
  0% {
    display: block;
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

/* MEDIUM SCREENS */
@media screen and (min-width: 568px) {
  nav {
    padding: 0;
  }

  nav button {
    display: none;
  }

  nav ul, nav ul.hidden, nav ul.visible {
    display: flex;
    margin: 0;
  }

  nav li {
    padding: 0;
    border: none;
  }

  nav a {
    font-size: 1.25rem;
    padding: 0.75rem 1rem;
  }

  nav a.active {
    border-bottom: 0.25rem solid var(--accent-blue);
  }

  .image-preview > img {
    max-width: 75%;
    padding: 0.5rem;
  }
}

/* LARGE SCREENS */
@media screen and (min-width: 1440px) {
  body {
    margin: 0 auto;
    border-left: 0.25rem solid var(--secondary-blue);
    border-right: 0.25rem solid var(--secondary-blue);
  }

  .image-preview > img {
    max-width: 50%;
  }
}