.inventory__card {
  background-color: var(--secondary-blue);
  border: 0.25rem solid var(--accent-blue);
  border-radius: 1rem;
  overflow: hidden;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  color: var(--dark);
}

.inventory__card-image {
  border-radius: 1rem 1rem 0 0;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.inventory__card-image > img {
  width: 100%;
  height: 100%;
}

.inventory__card-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  background-color: var(--accent-grey);
  flex: 1;
}

.inventory__card-info > h2 {
  margin: 0;
}

.inventory__card-price {
  font-weight: bold;
}

#vehicleAdminPanel {
  border-top: 1px solid var(--dark);
  margin-top: 1rem;
}

#vehicleAdminPanel > h2 {
  margin-top: 0.5rem;
}

/* MEDIUM SCREENS */
@media screen and (min-width: 568px) {
  .inventory__card {
    flex-direction: row;
  }

  .inventory__card-image {
    flex: 1;
  }
}

/* LARGE SCREENS */
@media screen and (min-width: 1440px) {
  #vehicleMain, #inventoryCards {
    display: grid;
    display: grid;
    grid-gap: 1rem;
  }

  #vehicleMain {
    grid-template-columns: repeat(2, 1fr);
  }

  #inventoryCards {
    grid-template-columns: repeat(4, 1fr);
  }

  #inventoryCards > .message-info {
    grid-column: 1 / 5;
  }

  #vehicleMain > #vehicleAdminPanel {
    grid-column: 1 / 3;
  }
}